# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Cursor rules
.cursor/

# Ignore broadcast and lib directories
broadcast/
lib/

# Keep abi directory but ignore JSON files
abi/*.json